.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  height: 12rem;
  width: 12rem;
}
.controllers_sides {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  height: 20rem;
  margin-left: 5px;
  width: 20rem;
  cursor: pointer;
  z-index: 1;
  @include respond(tab-land) {
    top: 70%;
  }
}
.controllers_menu {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-right: 5px;
  z-index: 10000;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
